@use '../mixins.scss' as *;
@use '../variables.scss' as *;


#header{
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(5px);
}

.header{   
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;

    &__inner{
    width: 100%;
    padding: 1.4375rem 1.875rem;

    @include flex-space;
    }

    &__logo{
        height: 3.5625rem;

        @include flex-center;
    img{
        width: 100%;
        height: auto;
    }
    }

    &__menu{
        gap: 4rem;
        color: $white_color;
        
        @include flex-center;
    }

    &__item{
        color: $white_color;
        text-decoration: none;

        @include flex-center;
        @include saira-font(normal, 1rem);
    }

}

.header.hide {
  transform: translateY(-100%);
}

